---
title: Installing and Configuring a9s BOSH for PCF
owner: Partners
---

This topic describes how to install and configure a9s BOSH for Pivotal Cloud Foundry (PCF).

##<a id='prerequisites'></a> Prerequisites

Ensure that the following tile has been installed:

* a9s Consul DNS for PCF v0.9.0 or later

##<a id='install'></a> Install and Configure a9s BOSH for PCF

Complete the following steps to download, install, configure, and deploy a9s BOSH for PCF.

1. Download the product file from the [Pivotal Network](https://network.pivotal.io).

2. Navigate to the Pivotal Cloud Foundry Operations Manager (Ops Manager) Installation Dashboard and click **Import a Product**
to upload the product file.

3. Click **Add** next to the uploaded a9s BOSH for PCF tile in the Ops Manager
**Available Products** view to add it to your staging area.

4. Click the newly added tile and review and configure the fields in the **Settings** pane. 
For information about the fields, see [About Configuring a9s BOSH for PCF](#configure) below.

5. Click **Apply Changes** to deploy the service.


##<a id='configure'></a> About Configuring a9s BOSH for PCF

Read this section for help completing Step 4 above.
You configure the <a href="https://bosh.io/docs/bosh-components.html#director" target="_blank">BOSH Director</a> 
for a9s BOSH to enable access to your infrastructure.

The a9s BOSH for PCF **Settings** pane contains two types of fields:

+ **<a href="https://bosh.io/docs/bosh-components.html#cpi" target="_blank">BOSH Director CPI</a> fields** —
These fields are specific to your infrastructure (IaaS), for example, OpenStack, AWS, or vSphere.

+ **<a href="https://bosh.io/docs/cloud-config.html" target="_blank">Cloud Config</a> fields** —
These fields are the same for all infrastructures. 
However, the value structures, e.g. JSON configuration strings, might differ. 
Example values are provided for AWS and vSphere.
If your infrastructure type is missing, contact <a href="mailto:svc.support@anynines.com">anynines Support</a>.

If you are using AWS, see [AWS-specific Settings](#aws-config).

If you are using vSphere, see [vSphere-specific Settings](#vsphere-config).

###<a id="bosh-director"></a> BOSH Director CPI Fields

The BOSH Director CPI fields for vSphere are shown below.

<a href="./images/iaas-data.png" target="_blank">
  <img src="./images/iaas-data.png">
</a>

###<a id="cloud-config"></a> Cloud-Config Fields

The Cloud Config fields are shown below.

<a href="./images/cloud-config.png" target="_blank">
  <img src="./images/cloud-config.png">
</a>

###<a id='aws-config'></a>AWS-specific Settings

This section provides information about configuring a9s BOSH for PCF with AWS.

For more BOSH AWS configuration options, see the <a href="https://bosh.io/docs/aws-cpi.html" target="_blank">BOSH documentation</a>.

| Value | Example |
|-------|---------|
| AWS Access Key ID | `YOURAWSACCESSKEY` |
| AWS Secret Access Key | `secret` |
| AWS Default Key Name | `myawsname` |
| AWS Default Security Group | `sg-56168731` |
| AWS Default Region | `eu-west-1` |

#### Cloud Config

<%= partial 'cloud-config' %>

##### Availability Zones

<%= partial 'availability-zones' %>

| Fields | Example |
|-------|---------|
| Cloud properties for availability zones | `{availability_zone: eu-west-1a}` |

##### VM Types

<%= partial 'vm_types' %>

| Fields | Example |
|-------|---------|
| Cloud properties for the VM types | `{instance_type: t2.small, availability_zone: eu-west-1a, ephemeral_disk: {size: 2048, type: gp2}}` |

##### Disk Types

<%= partial 'disk-types' %>

| Fields | Example |
|-------|---------|
| Cloud properties for the disk types | `{disk_size: 5120, cloud_properties: {type: gp2,encrypted: false}}` |

##### Network Settings

<%= partial 'network-settings' %>

| Fields | Example |
|-------|---------|
| Subnet IP range of this subnet for the availability zone | `10.0.29.0/24` |
| Subnet gateway IP for the availability zone | `10.0.29.1` |
| Reserved IPs for the availability zone | `10.0.29.1-10.0.29.11` |
| Cloud properties for this subnet for the availability zone | `{subnet: subnet-9f7489c7}` |


###<a id='vsphere-config'></a>vSphere-specific Settings

This section provides information about configuring a9s BOSH for PCF with vSphere.

For more BOSH vSphere configuration options, see the <a href="https://bosh.io/docs/vsphere-cpi.html" target="_blank">BOSH documentation</a>. 


| Value | Example | Explanation |
|-------|---------|-------------|
| The host of the vCenter | `vcenter01.example.com` | |
| vCenter user name | `avarteq@example.com` |  |
| vCenter user password | `secret` |  |
| Name of the datacenter | `avarteq` | Name of the datacenter. |
| VM folder | `pcf/pcf_vms` | Relative path to a folder where the created VMs will be stored. |
| Template folder | `pcf/pcf_templates` | Relative path to a folder where the stemcells will be stored. |
| Datastore pattern for ephemeral disks | `^(ds_emc01_iscsi_c01_pcf)$` | Pattern for selecting datastores for storing ephemeral disks and replicated stemcells. |
| Datastore pattern for persistent disks | `^(ds_emc01_iscsi_c01_pcf)$` | Pattern for selecting datastores for storing persistent disks.|
| Disk path | `pcf_disk` | Relative path to a folder where the persistent disks will be stored. |
| Name of the clusters in vCenter | `[C01, C02, C03]` |  Expects an array of datacenters where to put the VMs |

#### Cloud Config

<%= partial 'cloud-config' %>

##### Availability Zones

<%= partial 'availability-zones' %>

| Fields | Example |
|-------|---------|
| Cloud properties for availability zones | `{datacenters: [name: avarteq, clusters: [C01: {resource_pool: RP_PCF_C01}]]}` |


##### VM Types

<%= partial 'vm_types' %>

| Fields | Example |
|-------|---------|
| Cloud properties for the VM types | `{cpu: 1, ram: 2048, disk: 8192}` |

##### Disk Types

<%= partial 'disk-types' %>

| Fields | Example |
|-------|---------|
| Cloud properties for the disk types | `{type: thin}` |

##### Network Settings

<%= partial 'network-settings' %>

| Fields | Example |
|-------|---------|
| Subnet IP range of this subnet for availability zone | `172.28.4.0/24` |
| Subnet gateway IP for availability zone | `172.28.4.1` |
| Reserved IPs for availability zone | `172.28.4.1-172.28.4.11` |
| Cloud properties for this subnet for availability zone | `{name: 268_C01_RZ-AT-VMWARE-STAGING-1}` |

